{% extends "base.html" %}

{% block content %}
  <h1>Cart</h1>
  {% if cart.client.exists %}
  <table class="table cart-table">
    <thead>
      <tr>
        <th scope="row">Client: {{ cart.client }}</th>
      </tr>
  {% else %}
  <table class="table cart-table">
    <thead>
      <tr>
        <th scope="row">No Client Chosen! <a href="{% url 'clients:list' %}">Go to clients list</a>.</th>
      </tr>
  {% endif %}
  {% if cart_items.exists %}
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Product Unit Price</th>
      </tr>
    </thead>
    <tbody class="cart-body">
      {% for item in cart_items.all %}
      <tr class="cart-product">
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ item.product }}</td>
        <td>{{ item.quantity }}</td>
        <td>${{ item.price }}</td>
      </tr>
      {% endfor %}
      <tr>
          <td colspan="2"></td>
          <td><a class="btn btn-block btn-success" href="#">Checkout</a></td>
      </tr>
    </tbody>
  </table>
  {% else %}
    </thead>
  </table>
  <p class="lead">Cart is empty! <a href="{% url 'products:list' %}">Go Shop</a>.</p>
  {% endif %}
{% endblock %}